services:

  # iceberg rest catalog service
  rest-catalog:
    image: tabulario/iceberg-rest:1.6.0
    container_name: rest-catalog
    environment:
      # Core Iceberg catalog config
      - CATALOG_IMPL=org.apache.iceberg.rest.RESTCatalog
      - CATALOG_S3_ENDPOINT=http://${MINIO_HOST:-minio}:${MINIO_PORT:-9000}
      - CATALOG_WAREHOUSE=s3://${WAREHOUSE_BUCKET:-lakehouse}/
      - CATALOG_IO__IMPL=org.apache.iceberg.aws.s3.S3FileIO
      # AWS credentials
      - AWS_S3_ENDPOINT=http://${MINIO_HOST:-minio}:${MINIO_PORT:-9000}
      - AWS_REGION=${AWS_REGION:-us-east-1}
      - AWS_ACCESS_KEY_ID=${MINIO_ACCESS_KEY}
      - AWS_SECRET_ACCESS_KEY=${MINIO_SECRET_KEY}
    env_file:
      - .env
    ports:
      - "${REST_PORT:-8181}:8181"
    networks:
      - homeserver_network

  # trino query engine
  trino:
    image: trinodb/trino
    container_name: trino
    ports:
      - "${TRINO_PORT:-8082}:8080"
    volumes:
      - ./config/trino-template.properties:/etc/trino/catalog/trino-template.properties
      - ./config/setup-trino.sh:/usr/local/bin/setup-trino.sh
    networks:
      - homeserver_network
    environment:
      - REST_HOST=${REST_HOST:-rest-catalog}
      - REST_PORT=${REST_PORT:-8181}
      - MINIO_HOST=${MINIO_HOST:-minio}
      - MINIO_PORT=${MINIO_PORT:-9000}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
      - WAREHOUSE_BUCKET=${WAREHOUSE_BUCKET:-lakehouse}
    entrypoint: ["/usr/local/bin/setup-trino.sh", "/usr/lib/trino/bin/run-trino"]
    depends_on:
      - rest-catalog
    restart: unless-stopped

  # spark
  spark-master:
    container_name: spark-master
    build:
      context: .
      dockerfile: Dockerfile
    image: spark-image
    entrypoint: ['./entrypoint.sh', 'master']
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080" ]
      interval: 5s
      timeout: 3s
      retries: 3
    volumes:
      - ./scripts:/opt/spark/scripts
      - ./data:/opt/spark/data
      - spark-logs:/opt/spark/spark-events
      - ./warehouse:/opt/spark/warehouse
    env_file:
      - .env
    environment:
      - REST_HOST=${REST_HOST:-rest-catalog}
      - REST_PORT=${REST_PORT:-8181}
      - MINIO_HOST=${MINIO_HOST:-minio}
      - MINIO_PORT=${MINIO_PORT:-9000}
      - WAREHOUSE_BUCKET=${WAREHOUSE_BUCKET:-lakehouse}
      - AWS_REGION=${AWS_REGION:-us-east-1}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
    ports:
      - "${SPARK_UI_PORT:-8080}:8080"
      - "${SPARK_MASTER_PORT:-7077}:7077"
    networks:
      - homeserver_network
    depends_on:
      - rest-catalog

  spark-history-server:
    container_name: spark-history
    image: spark-image
    entrypoint: ['./entrypoint.sh', 'history']
    depends_on:
      - spark-master
    env_file:
      - .env
    environment:
      - REST_HOST=${REST_HOST:-rest-catalog}
      - REST_PORT=${REST_PORT:-8181}
      - MINIO_HOST=${MINIO_HOST:-minio}
      - MINIO_PORT=${MINIO_PORT:-9000}
      - WAREHOUSE_BUCKET=${WAREHOUSE_BUCKET:-lakehouse}
      - AWS_REGION=${AWS_REGION:-us-east-1}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
    volumes:
      - ./scripts:/opt/spark/scripts
      - ./data:/opt/spark/data
      - spark-logs:/opt/spark/spark-events
      - ./warehouse:/opt/spark/warehouse
    ports:
      - "${SPARK_HISTORY_PORT:-18080}:18080"
    networks:
      - homeserver_network

  spark-worker:
    container_name: spark-worker
    image: spark-image
    entrypoint: ['./entrypoint.sh', 'worker']
    depends_on:
      - spark-master
    env_file:
      - .env
    environment:
      - REST_HOST=${REST_HOST:-rest-catalog}
      - REST_PORT=${REST_PORT:-8181}
      - MINIO_HOST=${MINIO_HOST:-minio}
      - MINIO_PORT=${MINIO_PORT:-9000}
      - WAREHOUSE_BUCKET=${WAREHOUSE_BUCKET:-lakehouse}
      - AWS_REGION=${AWS_REGION:-us-east-1}
      - MINIO_ACCESS_KEY=${MINIO_ACCESS_KEY}
      - MINIO_SECRET_KEY=${MINIO_SECRET_KEY}
    volumes:
      - ./scripts:/opt/spark/scripts
      - ./data:/opt/spark/data
      - spark-logs:/opt/spark/spark-events
      - ./warehouse:/opt/spark/warehouse
    networks:
      - homeserver_network

volumes:
  spark-logs:

networks:
  homeserver_network:
    external: ${USE_EXTERNAL_NETWORK:-true}
    name: ${NETWORK_NAME:-homeserver_network}
